<section>
	<%= link_to("<< Back", {:controller => 'dashboard', :action => 'index'}, :class => 'back-link btn btn-default') %>
</section>

<br />

<section id="about-content-detail">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Title</th>
			<td><%= @about_content.title %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td><%= @about_content.content %></td>
		</tr>
		<tr>
			<th>Image URL</th>
			<td><img src="<%= @about_content.image_url %>" /></td>
		</tr>
	</table>
	
</section>
